* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    border-bottom: 1px solid black;
    position: relative;
    text-align: center;
  }
  
  main{
    width: 800px;
    position: relative;
    margin: auto;
    
    
  }
  
  aside{
    width: 180px;
    border: 1px solid black;
    position: fixed;
    bottom: 30px;
    right: 1px;
    text-align: center;
    

  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }

  button:active {
    background-color: white;
    color: black;
  }
